/venv
/env
/.idea
.env
__pycache__/
*.pyc
/data
/logs
/config
worlflow.md
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
documentation/
infra/service_account.json